        <div id="helper">
          <form action="/search" method="get">
              <input type="text" name="q" class="searchbox" value=""/>
              <!-- <input type="submit" value="Search"/> -->
          </form>
          <span class="rss"><a href="http://carbontheme.tumblr.com/rss">Subscribe via RSS</a></span>

        </div>
        <hr class="hide" />
        
        

        
		<div class="section">
			
          
          
          
              <div class="post image metalab tim_wilkinson">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528498668/this-is-a-photo">Image</a></span>
                <div class="photo"><a href="http://carbontheme.tumblr.com/photo/1280/1528498668/1/tumblr_lbn4lf36zN1qeglo0"><img src="http://26.media.tumblr.com/tumblr_lbn4lf36zN1qeglo0o1_500.jpg" alt="This is a photo." /></a></div>
                <div class="caption"><p>This is a photo.</p></div>
              </div>

          
          
          
          
          
          

          <div class="meta">
            <ul>
              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528498668/this-is-a-photo">3 months ago</a></li>
              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528498668/this-is-a-photo#notes">4 notes</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528498668/this-is-a-photo#disqus_thread">0</a></li>
              <li class="tags"><a href="http://carbontheme.tumblr.com/tagged/MetaLab">MetaLab</a> <a href="http://carbontheme.tumblr.com/tagged/Tim_Wilkinson">Tim Wilkinson</a> </li>

			  
            </ul>
          </div>
		</div>
		
		
		
		
		
        
		<div class="section">
			
          
          
          
          
          
              <div class="post video night canon_7d">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528718006/a-cool-little-video">Video</a></span>
                <div class="clip"><iframe src="http://player.vimeo.com/video/9290124" width="500" height="281" frameborder="0"></iframe></div>
                <div class="caption"><p>A cool little video.</p></div>

              </div>
          
          
          
          

          <div class="meta">
            <ul>
              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528718006/a-cool-little-video">3 months ago</a></li>
              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528718006/a-cool-little-video#notes">3 notes</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528718006/a-cool-little-video#disqus_thread">0</a></li>
              <li class="tags"><a href="http://carbontheme.tumblr.com/tagged/Night">Night</a> <a href="http://carbontheme.tumblr.com/tagged/Canon_7D">Canon 7D</a> </li>

			  
            </ul>
          </div>
		</div>
		
		
		
		
		
        
		<div class="section">
			
          
          
          
          
          
          
              <div class="post audio ">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528702798">Audio</a></span>
                <div class="clip">
					
					<div class="albumart">

						<img src="http://26.media.tumblr.com/tumblr_lbn5nwjpXc1qeglo0o1_1289347008_cover.jpg" alt="" width="200" height="200" />
					</div>
					

					<div class="player"><script type="text/javascript" language="javascript" src="http://assets.tumblr.com/javascript/tumblelog.js?464"></script><span id="audio_player_1528702798">[<a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Flash 9</a> is required to listen to audio.]</span><script type="text/javascript">replaceIfFlash(9,"audio_player_1528702798",'\x3cdiv class=\x22audio_player\x22\x3e<embed type="application/x-shockwave-flash" src="http://assets.tumblr.com/swf/audio_player_black.swf?audio_file=http://www.tumblr.com/audio_file/1528702798/tumblr_lbn5nwjpXc1qeglo0&color=FFFFFF" height="27" width="207" quality="best"></embed>\x3c/div\x3e')</script></div>
					
					<div class="info">
					<p class="track">Certain Things </p>

					
					<p class="artist">Destroyer</p>
					
					<p class="album">Your Blues</p>
					</div>
				</div>
                <span class="clipurl"></span>
                
              </div>
          
          
          

          <div class="meta">
            <ul>

              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528702798">3 months ago</a></li>
              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528702798#notes">1 note</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528702798#disqus_thread">0</a></li>
              
			  
            </ul>
          </div>
		</div>
		
		
		
		
		
        
		<div class="section">

			
          
          
          
          
          
          
          
              <div class="post chat ">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528595412/pursuing-peter">Chat Transcript</a></span>
                <h1><a href="http://carbontheme.tumblr.com/post/1528595412/pursuing-peter">Pursuing Peter</a></h1>
                <ul class="chat">
                  
                  <li class="odd user_1"> 	 	 	   
                    
                    <span class="label">Liam:</span>
                    
                    &quot;Peter has stopped replying to my emails again.&quot;

                  </li>
                  
                  <li class="even user_2"> 	 	 	   
                    
                    <span class="label">William:</span>
                    
                    &quot;Let&#039;s both send him one at the same time.&quot;

                  </li>
                  
                  <li class="odd user_1"> 	 	 	   
                    
                    <span class="label">Liam:</span>

                    
                    &quot;Good idea!&quot;

                  </li>
                  
                  <li class="even user_2"> 	 	 	   
                    
                    <span class="label">William:</span>
                    
                    &quot;Alright!&quot;
                  </li>
                  
                </ul>

              </div>
          
          

          <div class="meta">
            <ul>
              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528595412/pursuing-peter">3 months ago</a></li>
              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528595412/pursuing-peter#notes">1 note</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528595412/pursuing-peter#disqus_thread">0</a></li>
              
			  
            </ul>

          </div>
		</div>
		
		
		
		
		
        
		<div class="section">
			
          
          
          
          
          
          
          
          
              <div class="post link themes">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528532937/purchase-this-theme">Link</a></span>
                <span class="source"><a href="http://www.tumblr.com/theme/16510" class="link" >Purchase this theme</a></span>
                
              </div>
          

          <div class="meta">

            <ul>
              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528532937/purchase-this-theme">3 months ago</a></li>
              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528532937/purchase-this-theme#notes">0 notes</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528532937/purchase-this-theme#disqus_thread">0</a></li>
              <li class="tags"><a href="http://carbontheme.tumblr.com/tagged/Themes">Themes</a> </li>
			  
            </ul>

          </div>
		</div>
		
		
		
		
		
        
		<div class="section">
			
          
          
              <div class="post quote great_criticism">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528515990/kelly-wants-to-know-if-there-is-something-for-the">Quote</a></span>
                <blockquote>Kelly wants to know if there is something for the background available besides the blue ladies underwear pattern.</blockquote>
                <em class="source">&mdash;Said in a high nasal voice.</em>

              </div>
          
          
          
          
          
          
          

          <div class="meta">
            <ul>
              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528515990/kelly-wants-to-know-if-there-is-something-for-the">3 months ago</a></li>
              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528515990/kelly-wants-to-know-if-there-is-something-for-the#notes">1 note</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528515990/kelly-wants-to-know-if-there-is-something-for-the#disqus_thread">0</a></li>
              <li class="tags"><a href="http://carbontheme.tumblr.com/tagged/Great_Criticism">Great Criticism</a> </li>

			  
            </ul>
          </div>
		</div>
		
		
		
		
		
        
		<div class="section">
			
          
              <div class="post text literature hemingway">
                <span class="post_type"><a href="http://carbontheme.tumblr.com/post/1528478631/a-clean-well-lighted-place">Text</a></span>
                <h1><a href="http://carbontheme.tumblr.com/post/1528478631/a-clean-well-lighted-place">A Clean, Well-Lighted Place </a></h1>
                <p>BY ERNEST HEMINGWAY</p>

<p>It was very late and everyone had left the cafe except an old man who sat in the shadow the leaves of the tree made against the electric light. In the day time the street was dusty, but at night the dew settled the dust and the old man liked to sit late because he was deaf and now at night it was quiet and he felt the difference. The two waiters inside the cafe knew that the old man was a little drunk, and while he was a good client they knew that if he became too drunk he would leave without paying, so they kept watch on him. </p>

<p>Read the rest: <a href="http://www.mrbauld.com/hemclean.html">here</a>.</p>
              </div>
          
          
          
          
          
          
          
          

          <div class="meta">
            <ul>
              <li class="date"><a href="http://carbontheme.tumblr.com/post/1528478631/a-clean-well-lighted-place">3 months ago</a></li>

              <li class="fav"><a href="http://carbontheme.tumblr.com/post/1528478631/a-clean-well-lighted-place#notes">2 notes</a></li>
			  <li class="comments"><a href="http://carbontheme.tumblr.com/post/1528478631/a-clean-well-lighted-place#disqus_thread">0</a></li>
              <li class="tags"><a href="http://carbontheme.tumblr.com/tagged/Literature">Literature</a> <a href="http://carbontheme.tumblr.com/tagged/Hemingway">Hemingway</a> </li>
			  
            </ul>
          </div>
		</div>

		
		
		
		
		
        


		

        

        
        <ul id="pagination">
          
          <li class="old"><a href="/page/2">Older</a></li>
          <li class="current">Page 1 of 2</li>
        </ul>