html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
}
body {
line-height:1.5;
}
table {
border-collapse:separate;
border-spacing:0;
}
caption,th,td {
text-align:left;
font-weight:normal;
}
blockquote:before,blockquote:after,q:before,q:after {
content:"";
}
blockquote,q {
quotes:"" "";
}
a img {
border:none;
}
html {
font-size:100.01%;
}
body {
font-size:75%;
color:#333;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {
display:inline;
}
p {
margin:0 0 1.5em;
font-size:1.2em;
}
p img.left {
float:left;
margin:1.5em 1.5em 1.5em 0;
padding:0;
}
p img.right {
float:right;
margin:1.5em 0 1.5em 1.5em;
}
a:focus,a:hover {
text-decoration:none;
}
a {
color:#a9a9a9;
text-decoration:none;
}
blockquote {
margin:1.5em;
color:#666;
font-style:italic;
}
strong {
font-weight:bold;
}
em,dfn {
font-style:italic;
}
dfn {
font-weight:bold;
}
sup,sub {
line-height:0;
}
abbr,acronym {
border-bottom:1px dotted #666;
}
address {
margin:0 0 1.5em;
font-style:italic;
}
del {
color:#666;
}
pre {
margin:1.5em 0;
white-space:pre;
}
pre,code,tt {
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
}
li ul,li ol {
margin:0 1.5em;
}
ul,ol {
margin:0 1.5em 1.5em 1.5em;
}
ul {
list-style-type:disc;
}
ol {
list-style-type:decimal;
}
dl {
margin:0 0 1.5em 0;
}
dl dt {
font-weight:bold;
}
dd {
margin-left:1.5em;
}
table {
margin-bottom:1.4em;
width:100%;
}
th {
font-weight:bold;
}
thead th {
background:#c3d9ff;
}
th,td,caption {
padding:4px 10px 4px 0;
}
tr.even td {
background:#e5ecf9;
}
tfoot {
font-style:italic;
}
caption {
background:#eee;
}
.strong {
font-weight:bold;
}
.small {
font-size:.8em;
margin-bottom:1.875em;
line-height:1.875em;
}
.large {
font-size:1.2em;
line-height:2.5em;
margin-bottom:1.25em;
}
.hide {
display:none;
}
.quiet {
color:#666;
}
.loud {
color:#000;
}
.highlight {
background-color:#C6D7E8;
}
.green {
color:#18557f;
}
.added {
background:#060;
color:#fff;
}
.removed {
background:#900;
color:#fff;
}
.first {
margin-left:0;
padding-left:0;
}
.last {
margin-right:0;
padding-right:0;
}
.top {
margin-top:0;
padding-top:0;
}
.bottom {
margin-bottom:0;
padding-bottom:0;
}
.mainnav {
font-size:1.3em;
margin-bottom:0;
}
.light {
font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;
}
.bold {
font-family:HelveticaNeue-Bold,'Helvetica Neue Bold',Arial,sans-serif;
}
.info a:focus,a:hover {
text-decoration:none;
}
.info a {
color:#2A5D91;
text-decoration:none;
}
body {
background:#636363;
}
.point {
cursor:pointer;
}
.left {
float:left;
}
.right {
float:right;
}
.center {
text-align:center;
}
.clearBoth {
clear:both;
}
.clearAfter:after,.clearFloats {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
_font-size:0;
}
.clearAfter {
display:inline-block;
}
/* Hides from IE-mac \*/ * html .clearAfter {
height:1%;
}
.clearAfter {
display:block;
}
/* End hide from IE-mac */ .bar {
width:100%;
text-align:center;
}
.content {
width:1000px;
margin:auto;
text-align:left;
}
.header {
background:#636363;
height:63px;
}
.presentation.bar {
height:520px;
background:#bad7f3 url(/images/home/bluegradientbglinear.png) repeat-x;
}
.presentation .content {
background:#bad7f3 url(/images/home/bluegradientbg.png) center no-repeat;
height:520px;
}
.presentationshort.bar {
height:140px;
background:#bad7f3 url(/images/home/bluegradientbglinear.png) repeat-x;
}
.presentationshort .content {
background:#bad7f3 url(/images/home/bluegradientbg.png) top center no-repeat;
height:140px;
}
.quotes {
height:140px;
background:#ddd url(/images/home/diag.png) repeat top;
border-bottom:1px solid #c6c6c6;
}
.quotesshort {
height:30px;
background:#ddd url(/images/home/diag.png) repeat top;
border-bottom:1px solid #c6c6c6;
border-top:1px solid #c6c6c6;
}
.info {
background-color:#fff;
padding-bottom:20px;
}
.footer {
background-color:#636363;
padding-bottom:50px;
}
.logo {
float:left;
padding:8px;
}
.nav {
float:right;
}
.nav ul {
list-style:none;
margin-top:21px;
color:#a9a9a9;
font-size:1.2em;
}
.nav ul li {
float:right;
margin-left:40px;
}
.login {
color:#fff;
}
.maintitle {
font-size:46px;
color:#666;
width:100%;
text-align:center;
padding-top:20px;
}
.subtitle {
font-size:28px;
color:#9c9c9c;
width:100%;
text-align:center;
padding-top:5px;
}
.bullets {
float:left;
width:459px;
margin-top:23px;
margin-left:20px;
}
.bulletsshort {
float:left;
width:479px;
margin-top:13px;
margin-left:20px;
}
.bulletleft {
float:left;
height:81px;
width:17px;
background:url(/images/home/ppclipleft.png) left no-repeat;
}
.bulletright {
float:left;
height:81px;
background:url(/images/home/ppclipright.png) right no-repeat;
}
.bullet1 {
width:367px;
margin-left:40px;
margin-bottom:6px;
}
.bullet1 .bulletright {
width:350px;
}
.bullet2 {
width:397px;
margin-left:25px;
margin-bottom:6px;
}
.bullet2 .bulletright {
width:380px;
}
.bullet3 {
width:347px;
margin-left:50px;
}
.bullet3 .bulletright {
width:330px;
}
.bullettext {
color:#999;
margin:17px 10px 10px 5px;
line-height:1.2em;
font-size:1.6em;
}
.signupbutton {
margin:20px 95px;
}
.screens {
float:left;
width:499px;
margin-top:23px;
}
.screensshort {
float:right;
width:499px;
margin-top:13px;
}
.quote1 {
float:left;
margin:21px 30px;
width:425px;
}
.quote2 {
float:right;
margin:21px 30px;
width:425px;
}
.qtimg {
width:50px;
margin:0 20px 0 0;
border:1px solid #ccc;
}
.qttxt {
width:350px;
}
.quotetext {
font-family:times,serif;
font-style:italic;
font-size:1.7em;
color:#777;
line-height:1.3em;
}
.quoteatt {
text-align:right;
margin-top:7px;
font-size:1.1em;
color:#777;
}
.infocontent {
padding-top:10px;
}
.infoleft {
float:left;
width:440px;
margin:20px 20px 20px 40px;
}
.homeinfoleft {
float:left;
width:550px;
margin:20px 10px 20px 40px;
border-right:1px solid #ccc;
padding-right:20px;
}
.inforight {
float:right;
width:440px;
margin:20px 40px 20px 20px;
}
.homeinforight {
float:right;
width:310px;
margin:20px 40px 20px 20px;
}
.infoleftsmall {
float:left;
width:250px;
margin:20px 10px 20px 40px;
}
.inforightbig {
float:right;
width:650px;
margin:20px 40px 20px 10px;
}
.infowide {
width:920px;
padding:20px 40px;
}
.infotitle {
font-size:1.9em;
color:#666;
font-weight:bold;
line-height:1.3em;
}
.infotext {
font-size:1.2em;
color:#666;
margin-top:10px;
}
.graybar {
height:50px;
background:#CECECE url(/images/home/shortgraybg.png) repeat-x;
border:1px solid #ccc;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
margin-top:30px;
}
.graybarheader {
float:left;
font-size:1.7em;
color:#666;
margin:10px 0 5px 15px;
width:250px;
}
.graybartext {
float:left;
font-size:1.2em;
color:#777;
margin:0 5px 0 15px;
width:142px;
}
.graybarimages {
float:right;
margin-top:-39px;
margin-right:10px;
}
.vidlink {
font-size:1.8em;
line-height:1.1em;
}
.planbox {
width:310px;
border:5px solid #fff;
background-color:#E9F3FD;
padding-bottom:7px;
margin:0 10px 0 0;
}
.planheader {
border-bottom:1px solid #ccc;
margin:6px 20px;
}
.planname {
float:left;
font-size:2.5em;
color:#666;
}
.plantag {
float:right;
font-size:2em;
color:#999;
font-family:HelveticaNeue-UltraLightItalic,'Helvetica Neue Ultra Light Italic',Arial,sans-serif;
margin-top:12px;
}
.planone {
background-color:#F3F7FA;
float:left;
}
.plantwo {
background-color:#ECF3FA;
float:left;
}
.planthree {
background-color:#DFECFA;
float:left;
}
.planleft {
padding:5px 20px 5px 20px;
color:#666;
}
.plandescription {
font-size:1.2em;
}
.planprice {
text-align:center;
margin:10px 0;
}
.dolsign {
font-size:.4em;
vertical-align:top;
line-height:50px;
}
.planprice .left {
width:155px;
text-align:right;
font-size:8em;
line-height:100px;
}
.planprice .right {
width:105px;
text-align:left;
font-size:2em;
margin-top:42px;
line-height:1em;
font-family:HelveticaNeue-UltraLight,'Helvetica Neue Ultra Light',Arial,sans-serif;
}
.planprice .left.free {
width:135px;
}
.planprice .right.free {
width:125px;
}
.planbutton {
text-align:center;
}
.planbullet {
width:290px;
margin:17px 5px;
}
.planbulletimage {
float:left;
width:30px;
}
.planbullettext {
float:left;
font-size:1.3em;
color:#666;
width:240px;
margin-top:-1px;
line-height:1.2em;
}
.signupbox {
width:440px;
border:5px solid #fff;
background-color:#E9F3FD;
padding-bottom:7px;
margin:0 10px 0 0;
}
.signupheader {
border-bottom:1px solid #ccc;
margin:6px 20px;
font-size:2.5em;
color:#666;
}
.signupform {
color:#777;
margin:15px 15px 5px 25px;
font-size:1.3em;
text-align:center;
}
.signuplabel {
text-align:right;
width:125px;
}
.signupagree {
text-align:center;
width:150px;
font-size:1em;
padding-top:15px;
}
.signupfield {
margin-left:5px;
padding:5px;
font-family:sans-serif;
width:225px;
font-size:1.1em;
color:#666;
border:1px solid #ccc;
}
.createbutton {
margin-bottom:10px;
}
.loginlabel {
text-align:right;
width:100px;
}
.loginfield {
margin-left:5px;
padding:5px;
font-family:sans-serif;
width:240px;
font-size:1.1em;
color:#666;
border:1px solid #ccc;
}
.rememberme {
text-align:left;
width:150px;
font-size:1em;
padding-top:15px;
}
.getonebox {
width:420px;
border:5px solid #fff;
background-color:#EFF8E5;
padding:10px;
margin:15px 0;
color:#666;
font-size:1.5em;
text-align:center;
}
.profile {
margin:10px 35px 15px 0;
width:84px;
}
.lastprof {
margin-right:0;
}
.profilename {
text-align:left;
margin-left:-1px;
margin-top:5px;
color:#666;
line-height:1.2em;
}
.profilename a {
color:#666;
}
.profiletitle {
text-align:left;
margin-left:-1px;
color:#999;
line-height:1.2em;
margin-top:5px;
}
.contactlabel {
font-weight:bold;
}
.footer .content {
width:580px;
text-align:center;
}
.footerlinks {
color:#a9a9a9;
font-size:1.2em;
padding:20px 0;
}
.footerlinkssubleft {
float:left;
color:#a9a9a9;
font-size:.9em;
margin-left:5px;
}
.footerlinkssubright {
float:right;
color:#a9a9a9;
font-size:.9em;
margin-right:5px;
}
.footerseals {
text-align:center;
}
.tourheader {
text-align:center;
font-size:4em;
padding:20px;
color:#666;
}
.tourshot {
text-align:center;
}
.tourinfo {
margin:10px 65px 10px 95px;
}
.tourrow {
margin:0 0 20px 0;
}
.touritem {
width:190px;
float:left;
margin:10px;
}
.touritemheader {
color:#666;
font-size:1.3em;
font-weight:bold;
}
.touriteminfo {
color:#666;
font-size:1.2em;
}
.shadow {
-moz-box-shadow:1px 1px 5px #ccc;
-webkit-box-shadow:1px 1px 5px #ccc;
box-shadow:1px 1px 5px #ccc;
-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#cccccc')";
filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#cccccc');
}
.top {
vertical-align:top;
padding-top:5px;
padding-bottom:15px;
}
.signupbuttonshort {
margin:10px 95px;
}
.calluscorner {
position:fixed;
top:0;
right:0;
background:url(/images/home/corner.png) top right no-repeat;
width:130px;
height:130px;
z-index:999;
}
.errorMessage {
font-size:.85em;
color:Red;
display:none;
}
.changePassInfo {
font-size:.5em;
}
.green {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
font-size:12px;
color:#fff;
font-weight:bold;
background:#85bf2e;
border:1px solid #5c940b!important;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
padding:2px 5px 3px 5px;
vertical-align:middle;
cursor:pointer;
margin:-3px 0 0 5px;
width:50px;
}
.blue {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
font-size:12px;
color:#fff;
font-weight:bold;
background:#85bf2e;
border:1px solid #5c940b!important;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
padding:0 5px;
vertical-align:middle;
cursor:pointer;
margin:0 5px 0 0;
width:50px;
text-align:center;
}
.gray {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
font-size:12px;
color:#666;
font-weight:bold;
background:#ccc;
border:1px solid #5c940b!important;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
padding:0 5px;
vertical-align:middle;
cursor:pointer;
margin:0 5px 0 0;
width:50px;
text-align:center;
}
.padlock {
background:#797979 url(/images/home/smallwhitepadlock.png) no-repeat scroll 5px 4px;
width:70px;
text-align:right;
border:1px solid #999!important;
}
.plansignup {
font-size:18px;
padding:2px 5px 3px 5px;
margin:10px 0 0 5px;
width:100px;
}
.bigbutt {
font-size:30px;
padding:2px 5px 3px 5px;
margin:10px 0 0 5px;
width:150px;
}
