<% if current_user %>
<div id="session" class="caption">
  <%= gravatar(current_user) %> <span class="shadow"><%= current_user.username %></span> – <span class="shadow"><%= link_to "Sign out", destroy_user_session_path %></span>
</div>
<% end %>