<% if @site.respond_to?(:name) %>
<div id="sidebar">
  <div id="sidebar-glow"></div>
  <div id="header">
  <div id="title">
    <div class="top"></div>
    <div class="content">
      <h1><a href="/"><%= @site.name %></a></h1>
      <span class="tagline">Gems Mine&trade;</span>
    </div>
    <div class="bottom"></div>
  </div>
</div>

  <div id="mylinks" class="list">
    <ul>
      <li class="nolabel"><a href="/"><span class=""></span><strong>Dashboard</strong></a></li>
      <li class="nolabel"><a href="/gems"><span class=""></span><strong>Gems</strong></a></li>
      <li class="nolabel"><a href="/settings"><span class=""></span><strong>Settings</strong></a></li>
      <li class="nolabel"><a href="http://gemsmineapp.com/help"><span class=""></span><strong>Help</strong></a></li>
    </ul>
  </div>
</div>
<% end %>