<!DOCTYPE html>
<html>
<head>
  <title>Mine Gems – Private Gems Hosting</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="session-container">
    <div id="session-wrapper">
      <%= yield %>
    </div>
  </div>
</body>
</html>